<div class = "bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen text-white p-10">
    <div class="flex items-center justify-between mb-10">
        <app-nav-bar></app-nav-bar>
    </div>
    <!-- Main Content -->
    <div class="flex flex-col items-center justify-center flex-1">
        
    <!-- Audio Player -->
    <div class="w-[600px] mb-8">
        <ng-container *ngIf="audioUrl; else noAudio">
            <audio [src]="audioUrl" controls 
                class="w-full rounded-full shadow-lg bg-white">
                <source [src]="audioUrl" type="audio/flac" />
            </audio>
        </ng-container>
        <ng-template #noAudio>
            <p class="text-gray-400 text-center">No audio file found. Please upload again.</p>
        </ng-template>
    </div>
    
    <!-- Placeholder for Avatar Animation-->
     <div class="w-[600px] h-[400px] bg-gray-300 rounded-xl flex items-center justify-center mb-8">
        <span class="text-gray-600 text-lg">Sign Language Avatar Placeholder</span>
        <div *ngIf="gloss"
            class="absolute bottom-6 w-full text-center">
            <span class="bg-black bg-opacity-60 text-white px-4 py-2 rounded-lg text-lg">
            {{ gloss }}
            </span>
        </div>
    </div>
    
    <!-- Download Button-->
     <div class="w-[600px] flex justify-end">
            <button
                (click)="downloadAudio()"
                class="mt-0 rounded-full px-8 py-3 text-white font-semibold
                        bg-gradient-to-r from-[#B6C3FF] to-[#5271FF] hover:opacity-100 transition w-fit">
                Download
            </button>
        </div>
  </div>
</div>