<div class = "bg-[url('/images/LandingPageLight.png')] dark:bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen flex flex-col items-center justify-center text-center p-10">
    <img [src]="isDarkMode ? '/images/Loading.png' : '/images/LoadingLight.png'" class="w-[100px] md:w-[130px] mb-6"/>
    <h2 class="text-xl md:text-2xl font-redhat font-semibold text-black dark:text-white mb-5">
        {{ rotatingTitle }}
    </h2>
    <p class="text-sm md:text-lg font-redhat text-gray-800 dark:text-gray-300 max-w-xl leading-relaxed mb-10">
       {{ rotatingText }}
    </p>
    <h2 class="text-sm md:text-lg font-redhat text-neutral-500 dark:text-white mb-2">
        Translating your media...
    </h2>

    <!-- Animated dots -->
    <div class="flex space-x-2 mt-4">
        <div class="w-3 h-3 bg-gradient-to-br from-[#002EFF] to-[#7B8FFF] dark:from-[#5271FF] dark:to-[#C5D0FF] rounded-full animate-bounce shadow-lg" style="animation-delay: 0.2s; animation-duration: 1.4s;"></div>
        <div class="w-3 h-3 bg-gradient-to-br from-[#4060FF] to-[#B6C3FF] dark:from-[#869AFF] dark:to-[#E0E7FF] rounded-full animate-bounce shadow-lg" style="animation-delay: 0.4s; animation-duration: 1.4s;"></div>
        <div class="w-3 h-3 bg-gradient-to-br from-[#5B9EFF] to-[#A8C9FF] dark:from-[#8FB5FF] dark:to-[#D4E3FF] rounded-full animate-bounce shadow-lg" style="animation-delay: 0s; animation-duration: 1.4s;"></div>
    </div>
</div>
