<div class = "bg-[url('/images/LandingPageLight.png')] dark:bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen text-white p-10">
    <app-nav-bar></app-nav-bar>
    <div class="flex flex-col lg:flex-row items-center justify-between mt-12 lg:mt-20">
    <!-- Left Section: Text -->
    <div class="flex-1 max-w-7xl lg:px-12 2xl:px-20">

        <!-- Title -->
        <h1 class="text-3xl md:text-4xl lg:text-6xl 2xl:text-7xl font-bold font-redhat leading-tight text-transparent bg-clip-text bg-gradient-to-r from-[#002EFF] to-[#869AFF] dark:from-[#5271FF] dark:to-[#B6C3FF]">
            Tech that translates 
            the world – <br />
            <span class="italic font-extrabold dark:text-white text-black">just for you</span>
        </h1>

        <p class="text-xl lg:text-2xl 2xl:text-3xl font-redhat text-gray-900 dark:text-neutral-200 lg:mt-10 leading-relaxed">
            Translate any media using AI-powered Speech to Sign 
            Language Recognition technology
        </p>

        <div class="flex flex-col items-center w-full max-w-md md:max-w-lg lg:max-w-xl xl:max-w-3xl 
            mt-6 lg:mt-10 space-y-6">
            <!-- Input Field To Paste Link -->
            <input 
                type="text" 
                [(ngModel)]="mediaLink" 
                placeholder="Paste a media link here to be translated"
                class="px-4 py-3 rounded-full text-black w-full shadow-md font-redhat focus:ring-primary focus:ring-2" 
                [disabled]="!!selectedFile"
            />
            
            <!-- Hidden File Input for Media Upload -->
            <input type="file" #mediaInput accept="audio/*,video/*" class="hidden" (change)="onFilePicked($event)" />

            <!-- Buttons Wrapper -->
            <div class="flex flex-col md:flex-row md:space-x-4 lg:space-x-8 mt-6 w-full justify-center">
                <!-- Upload Button -->
                <button 
                    (click)="mediaInput.click()"
                    class="w-48 rounded-full px-6 py-3 text-white font-semibold font-redhat
                        bg-gradient-to-r from-[#002EFF] to-[#869AFF] dark:from-[#5271FF] dark:to-[#B6C3FF] hover:opacity-90 transition
                        disabled:opacity-50 disabled:cursor-not-allowed"
                    [disabled]="!!selectedFile || isUploadDisabled">
                    Upload Media
                </button>

                <!-- Translate Button -->
                <button (click)="translate()"
                    class="w-48 mt-4 md:mt-0 rounded-full px-6 py-3 text-white font-semibold font-redhat
                        bg-gradient-to-r from-[#002EFF] to-[#869AFF] dark:from-[#5271FF] dark:to-[#B6C3FF] hover:opacity-90 transition">
                    Translate to Sign
                </button>
            </div>

            <ng-container *ngIf="loading">
            <div class="flex justify-center mt-6">
                <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-white"></div>
            </div>
            </ng-container>
        </div>
    </div>

    <!-- Right Section: Image-->
    <div class="flex-1 flex justify-center items-center mt-12 lg:mt-0">
        <img [src]="isDarkMode ? '/images/ImageGrid.svg' : '/images/ImageGridLight.png'"
        class="absolute right-0 bottom-0 w-[40vw] max-w-[650px] z-0 hidden lg:block" />

        <!-- 3D Avatar -->
        <img src="/images/Avatar.svg" alt="3D Character"
            class="absolute right-20 bottom-0 w-[28vw] max-w-[480px] hidden lg:block" />
    </div>
</div>
