<div class = "bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen text-white p-10">
    <app-nav-bar></app-nav-bar>
    <div class="flex flex-col lg:flex-row items-center justify-between mt-12 lg:mt-20">
    <!-- Left Section: Text -->
    <div class="flex-1 max-w-2xl lg:px-12">

        <!-- Title -->
        <h1 class="text-3xl md:text-6xl font-bold font-redhat leading-tight text-transparent bg-clip-text bg-gradient-to-r from-[#B6C3FF] to-[#5271FF]">
            Tech that translates <br />
            the world – <br />
            <span class="italic font-extrabold text-white">just for you</span>
        </h1>

        <p class="text-xl font-redhat text-neutral-200 mt-6 leading-relaxed">
            Translate any media using AI-powered Speech to Sign <br />
            Language Recognition technology
        </p>

        <div class="flex flex-col items-center w-full max-w-md mt-6">
            <!-- Input Field To Paste Link -->
            <input type="text" [(ngModel)]="mediaLink" placeholder="Paste a media link here to be translated"
                class="px-4 py-3 rounded-full text-black w-full shadow-md font-redhat focus:ring-primary focus:ring-2" />

            <!-- Button To Upload Media -->
            <button (click)="sendLink()"
                class="mt-6 rounded-full px-6 py-3 text-white font-semibold
                    bg-gradient-to-r from-[#B6C3FF] to-[#5271FF] hover:opacity-90 transition w-fit mx-auto">
                Upload Media
            </button>
        </div>
    </div>

    <!-- Right Section: Image-->
    <div class="flex-1 flex justify-center items-center mt-12 lg:mt-0">
        <img src="/images/ImageGrid.svg" alt="Icon Grid"
        class="absolute right-0 bottom-0 w-full max-w-[495px] z-0 hidden lg:block" />

        <!-- 3D Avatar -->
        <img src="/images/Avatar.svg" alt="3D Character"
            class="absolute right-20 bottom-0 lg:w-[360px] hidden lg:block" />
    </div>
</div>
