<!-- Video Translation Page -->
<div class="bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen text-white p-8 relative overflow-hidden">
  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>

  <!-- Main -->
  <main class="max-w-5xl mx-auto relative z-10">
    <!-- Main video player card -->
    <div #videoCard class="relative rounded-2xl overflow-hidden bg-black ring-1 ring-white/10 shadow-2xl">
      <div class="aspect-video">
        <video
          #player
          class="w-full h-full"
          [src]="videoSrc"
          controls
          playsinline>
        </video>
      </div>
    </div> 
    <!-- add 3d character posing -->
    <!-- 3D rendering logic (later)-->
    <div *ngIf="gloss"
        class="absolute bottom-6 w-full text-center">
        <span class="bg-black bg-opacity-60 text-white px-4 py-2 rounded-lg text-lg">
        {{ gloss }}
        </span>
    </div>
    <div class="mt-4 flex items-center justify-between gap-3">
      <div class="flex gap-3">
        <!-- Download -->
        <button
          class="rounded-full px-6 py-3 bg-gradient-to-r from-[#B6C3FF] to-[#5271FF] hover:opacity-90"
          (click)="downloadVideo()">
          Download
        </button>
        <!-- Full screen -->
        <button
          class="rounded-full px-6 py-3 bg-gradient-to-r from-[#B6C3FF] to-[#5271FF] hover:opacity-90"
          (click)="toggleFullScreen()">
          Full Screen
        </button>
      </div>
    </div>
  </main>
</div>