<!-- Video Translation Page -->
<div class = "bg-[url('/images/LandingPageLight.png')] dark:bg-[url('/images/LandingPage.svg')] bg-cover bg-center min-h-screen text-white p-10">
  <app-nav-bar></app-nav-bar>

  <!-- Main -->
  <main class="max-w-5xl mx-auto relative z-10">
    <!-- Main video player card -->
    <div #videoCard class="relative w-11/12 max-w-4xl mx-auto rounded-2xl overflow-hidden bg-neutral-500 dark:bg-black ring-1 ring-white/10 shadow-2xl">
      <div class="aspect-video">
        <video
          #player
          class="w-full h-full"
          [src]="videoSrc"
          controls
          playsinline>
        </video>
      </div>
      <div *ngIf="currentSubtitle"
        class="absolute bottom-6 w-full text-center pointer-events-none select-none transition-opacity duration-500">
        <span class="bg-black/60 text-white text-lg px-5 py-2 rounded-xl font-semibold shadow-md backdrop-blur-sm inline-block">
            {{ currentSubtitle }}
        </span>
    </div>
    </div> 
    <!-- add 3d character posing -->
    <!-- 3D rendering logic (later)-->
  

  </main>
</div>